<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.celestica">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_app"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Celestica"
        tools:targetApi="31">

        <!-- Splash Activity sebagai launcher -->
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Tambahkan Activity lain -->
        <activity android:name=".home.HomeActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".AboutActivity" />
        <activity android:name=".dataset.DatasetActivity" />
        <activity android:name=".FiturActivity" />
        <activity android:name=".ModelActivity" />
        <activity android:name=".SimulasiActivity" />
    </application>

</manifest>
